.login-button{
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-right: 20px;
}

.nav-section{
  display: flex;
  justify-content: center;
}

.menu-area {
  display: flex;
  justify-content: center;
}

.menu-list{
  display: flex;
  list-style-type: none;
  
  
}

.menu-list li {
  padding: 10px;
}

.search-area{
  display: flex;
  justify-content: right;
}

.search-box{
  position: relative;
  right: 80px;
  width: 180px;
  margin-left: 50px;
  margin-top: 50px;
}

.search-box input{
  font-size: 15px;
  color: #222222;
  width: 150px;
  border: none;
  border-bottom: solid #aaaaaa 1px;
  padding-bottom: 10px;
  padding-left: 10px;
  position: relative;
  background: none;
  z-index: 5;
}

input::placeholder { color: #aaaaaa; }
input:focus { outline: none; }

span {
  display: block;
  position: absolute;
  bottom: 0;
  left: 9%;  /* right로만 바꿔주면 오 - 왼 */
  background-color: #666;
  width: 0;
  height: 2px;
  border-radius: 2px;
  transition: 0.5s;
}

label {
  position: absolute;
  color: #aaa;
  left: 30px;
  font-size: 20px;
  bottom: 8px;
  transition: all .2s;
}

input:focus ~ label, input:valid ~ label {
  font-size: 16px;
  bottom: 40px;
  color: #666;
  font-weight: bold;
}

input:focus ~ span, input:valid ~ span {
  width: 100%;
}