.nav-header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  
}

.nav-header * {
  margin-right: 10px;
  margin-top: 20px;
}

.burger-menu{
  margin-left: 20px;
}

.login-button{
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-right: 20px;
  cursor: pointer; 
}

.nav-section{
  display: flex;
  justify-content: center;
}

.menu-area {
  display: flex;
  justify-content: center;
}

.menu{
  display: flex;
  list-style-type: none;
  margin-bottom: 50px;
  
}

.menu li {
  padding: 10px;
}


.search-area{
  display: flex;
  justify-content: right;
}

.search-box{
  position: relative;
  right: 80px;
  width: 180px;
  margin-left: 50px;
  margin-bottom: 50px;
}

.search-box input{
  font-size: 15px;
  color: #222222;
  width: 150px;
  border: none;
  border-bottom: solid #aaaaaa 1px;
  padding-bottom: 10px;
  padding-left: 10px;
  position: relative;
  background: none;
  z-index: 5;
}

input::placeholder { color: #aaaaaa; }
input:focus { outline: none; }

span {
  display: block;
  position: absolute;
  bottom: 0;
  left: 9%;  /* right로만 바꿔주면 오 - 왼 */
  background-color: #666;
  width: 0;
  height: 2px;
  border-radius: 2px;
  transition: 0.5s;
}

label {
  position: absolute;
  color: #aaa;
  left: 30px;
  font-size: 20px;
  bottom: 8px;
  transition: all .2s;
}

input:focus ~ label, input:valid ~ label {
  font-size: 16px;
  bottom: 40px;
  color: #666;
  font-weight: bold;
}

input:focus ~ span, input:valid ~ span {
  width: 100%;
}

.card .img-wrap {
  overflow: hidden;
}

.card :hover {
  transform: scale(1.2, 1.2); transition-duration: 0.5s;
}
.card img {
  transition-duration: 0.2s;
  width: 100%;
}

.card {

  object-fit: cover;
  cursor: pointer;
}

.hide{
  visibility:hidden
}

@media screen and (max-width: 63rem) {
  .hide {
    visibility:visible;
  }
  .menu {
    display: none;
  }
  .search-box{
    display: none;
  }
}

.side-menu {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: burlywood;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index:2
}
.side-menu-list button {
  margin: 5px;
  border: none;
  background: none;
  width: 120px;
}

.side-menu .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  border: none;
  background: none;
}

.side-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side-menu-list button:hover {
  background-color: beige;
  border-radius: 3px;
} 


.product-img{
  display: flex;
  justify-content: flex-end;
}

.dropdown-basic-button{
  background-color: white;
}

.add-btn{
  margin: 20px;
  text-align: center;
  background-color: black;
  color: white;
  cursor: pointer;
}


